@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: #e81b44;
	--color-secondary: #e85935;
	--color-tertiary: #e8a723;

	--color-soulbound-primary: oklch(69.6% 0.17 162.48);

	--color-ethos-primary: #5dd4d4;

	--font-sans: var(--font-castoro-titling);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: oklch(21.6% 0.006 56.043);
		--foreground: #fff8e7;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}

html {
	scrollbar-gutter: stable;
}
